body {
	background-color: #a8dba8;
}
.header {
	border: 4px solid #68bb59;
	background-color: #68bb59;
	font-size: 15px;
	text-align: center;
}
img {
	width: auto;
	height: 180px;
	margin-top: 15px;
}

.text1 {
	font-size: 50px;
	font-family: serif;
	color: whitesmoke;
	
}
hr {
	width: auto;
	height: 15px;
	background: #1e5631;
	margin: 5px;
}
.text2 {
	font-size: 20px;
	font-family: monospace;
	color: whitesmoke;
}

.medsos {
	border: 5px solid khaki;
	margin width: 15px
	height: auto;
}


/* Style pada sidebar - tinggi penuh dan fixed */
.sidebar {
  height: auto;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 363px;
  left: 8px;
  background-color: #1e5631;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;


}

/* Style link sidebar */
.sidebar a {
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  display: block;
}

/* Style link saat mengarahkan mouse*/
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style konten utama */
.main {
  margin-left: 160px; /* Sama dengan lebar sidenav */
  padding: 0px 10px;
}

/* Tambahkan kueri media untuk layar kecil (jika tinggi layar kurang dari 450px, tambahkan padding dan ukuran font yang lebih kecil) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

 /*ISI KONTEN */

 .isi {
 	margin-left: 75px;
 	margin-right: 10px;
 	text-align: center;
 	color: #1e5631;


 }
.ngeri {
	margin-left: 75px;
}
.ngeri a {
	font-size: 25px;
	color: #1e5631;
}
